*{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
}

body{
    background-color: #E1ACAC ;
    margin: 0;
}

header{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #CA8787;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0.5rem;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.4);
}

ul{
    width: 100%;
    font-size: 0.8rem;
    list-style-type: none;
    text-align: left;
    padding: 0;
}

ul li{
    font-size: 1.2rem;
    margin-left: 1rem;
    padding: 0.3rem;
    display: block;
    width: 100%;
}

ul li a{
    display: block;
    width: 100%;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

ul li a:hover{
    color: #FFD0D0;
    margin-left: 0.1rem;
}

.container{
   padding-top: 0.5rem;
   padding-left: 16rem;
}

.con{
    display: flex;
    justify-content: start;
    width: 58.7vh;
    flex-wrap: wrap;
}

.content{
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: #FFD0D0;
    width: 25vh;
    height: 25vh;
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0.3rem;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.2);
}

#productContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0.2rem;
    width: 100%;
    
}